<%= form_for @schedule, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sched_num, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :sched_num, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :route_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :route_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :etd, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :etd, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :atd, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :atd, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :eta, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :eta, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ata, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :ata, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :delay, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :delay, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :canceled, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :canceled, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :info, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                schedules_path, :class => 'btn' %>
  </div>
<% end %>
