<%- model_class = Schedule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sched_num) %></th>
      <th><%= model_class.human_attribute_name(:route_id) %></th>
      <th><%= model_class.human_attribute_name(:etd) %></th>
      <th><%= model_class.human_attribute_name(:atd) %></th>
      <th><%= model_class.human_attribute_name(:eta) %></th>
      <th><%= model_class.human_attribute_name(:ata) %></th>
      <th><%= model_class.human_attribute_name(:delay) %></th>
      <th><%= model_class.human_attribute_name(:canceled) %></th>
      <th><%= model_class.human_attribute_name(:info) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= link_to schedule.id, schedule_path(schedule) %></td>
        <td><%= schedule.sched_num %></td>
        <td><%= schedule.route_id %></td>
        <td><%= schedule.etd %></td>
        <td><%= schedule.atd %></td>
        <td><%= schedule.eta %></td>
        <td><%= schedule.ata %></td>
        <td><%= schedule.delay %></td>
        <td><%= schedule.canceled %></td>
        <td><%= schedule.info %></td>
        <td><%=l schedule.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_schedule_path(schedule), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      schedule_path(schedule),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_schedule_path,
            :class => 'btn btn-primary' %>
